*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: cursive;
}
.outer-box{
    width: 100vw;
    height: 100vh;
    background:linear-gradient(to top left,lightblue,aqua )
}
.inner-box{
    width: 400px;
    margin: 0 auto;
    position: relative;
    top: 50%;
    
    transform: translateY(-50%);
    padding: 20px 40px;
    background: linear-gradient(to top right,#ffffffff,#ffffff33 );
    border-radius: 8px;
    box-shadow: 4px 4px gray;
    z-index: index 2; ;
}
h1{
    font-size: 2.5rem;
}
.signup-header p{
    padding-top: 10px;
    font-size: 1.2rem;
    color: palevioletred;
    text-shadow: 3px 3px lightblue;
}
.signup-body{
    margin: 20px;

}
.signup-body p{
    margin: 10px 0;
}
.signup-body p label{
    display: block;
    font-weight: bold;
}
.signup-body p input{
    width: 100%;
    padding:10px ;
    border: 2px solid gray;
    border-radius: 4px ;
    margin-top: 4px;
}
#submit{
    background-color: blueviolet;
    border: none;
    color: white;
    cursor: pointer;
    
}
#submit:hover{
    background-color: rgb(62, 13, 108);
}
.signup-footer p{
    color: grey;
    text-align: center;

}
.signup-footer p a{
    color: aqua;
    
}
.circle{
    width: 200px;
    height: 200px;
     border-radius: 100px;
     background:linear-gradient(to top,#ffffff20,white) ;
     position: fixed;
}
.c1{
    top: 100px;
    left: 30px;

}
.c2{
    bottom: 100px;
    right: 50px;
}
